{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>

<script>
    $(function () {
        $('#formForgotPw').validate({
            rules: {
                email: {
                    required: true,
                    email: true
                }
            },
            messages: {
                email: {
                    required: 'Email không được rỗng.',
                    email: 'Email không hợp lệ.'
                }
            },
            errorElement: 'em',
            errorClass: 'mt-2 d-block text-danger text-left',
            highlight: function (e) {
                $(e).removeClass('is-valid').addClass('is-invalid');
            },
            unhighlight: function (e) {
                $(e).removeClass('is-invalid').addClass('is-valid');
            },
        });
    })
</script>
{{/section}}

<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
            <div class="card text-center card-sign-in shadow">
                <div class="card-body">
                    <h4 class="card-title mb-4">Quên mật khẩu</h4>
                    <form novalidate id="formForgotPw" action="/account/forgot-password" method="POST" autocomplete="off">
                        <div class="form-group">
                          <input type="email" class="form-control" name="email" placeholder="Email">
                        </div>
                        
                        <button type="submit" class="btn btn-primary text-uppercase">Lấy lại mật khẩu</button>

                        <div class="mt-4 text-left">
                            <span>Đã có tài khoản ?</span>&nbsp;<a href="/account/login">Đăng nhập</a>
                        </div>
                        <div class="mt-3 text-left">
                            <span>Chưa có tài khoản ?</span>&nbsp;<a href="/account/register">Đăng kí ngay</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>