{{#section 'css'}}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}


{{#section 'js'}}
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>

<script>
    $('#dtpicker_dob').datetimepicker({
        timepicker : false,
        format : 'd/m/Y',
        mask : true,
        maxDate : new Date()
    }).on('change', function() {
        $(this).valid();
    });
</script>

<script>
    $(function () {
        $('#formRegister').validate({
            rules: {
                name: {
                    required: true
                },
                dob: {
                    required: true
                },
                email: {
                    required: true,
                    email: true,
                    remote : {
                        url : '/account/is-available',
                        type : 'post',
                        data : {
                            email : function(){
                                return $('#txtEmail').val();
                            }
                        }
                    }
                },
                password: {
                    required: true,
                    minlength: 6
                },
                confirmPw: {
                    required: true,
                    equalTo: $('[name="password"]')
                }
            },
            messages: {
                name: {
                    required: 'Tên người dùng không được rỗng.'
                },
                dob: {
                    required: 'Ngày sinh không được rỗng.'
                },
                email: {
                    required: 'Email không được rỗng.',
                    email: 'Email không hợp lệ.',
                    remote : 'Email này đã tồn tại.'
                },
                password: {
                    required: 'Mật khẩu không được rỗng.',
                    minlength: 'Mật khẩu có ít nhất 6 kí tự.'
                },
                confirmPw: {
                    required: 'Mật khẩu xác nhận không được rỗng.',
                    equalTo: 'Mật khẩu xác nhận không trùng với mật khẩu.'
                }
            },
            errorElement: 'em',
            errorClass: 'mt-2 d-block text-danger text-left',
            highlight: function (e) {
                $(e).removeClass('is-valid').addClass('is-invalid');
            },
            unhighlight: function (e) {
                $(e).removeClass('is-invalid').addClass('is-valid');
            },
        });
    })
</script>
{{/section}}

<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
            <div class="card text-center card-sign-in shadow">
                <div class="card-body">
                    <h4 class="card-title mb-4">Đăng kí</h4>
                    <form novalidate id="formRegister" action="/account/register" method="POST" autocomplete="off">

                        <div class="form-group">
                            <input type="text" class="form-control" name="name" placeholder="Họ tên" autofocus>
                        </div>
                        <div class="form-group">
                            <input id="dtpicker_dob" type="text" class="form-control" name="dob"
                                placeholder="Ngày sinh">
                        </div>
                        <div class="form-group">
                            <input id="txtEmail" type="email" class="form-control" name="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Mật khẩu">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="confirmPw"
                                placeholder="Nhập lại mật khẩu">
                        </div>

                        <button type="submit" name="" class="btn btn-primary btn-block text-uppercase">Đăng kí</button>

                        <div class="mt-3 text-left">
                            <a href="/account/forgot-password">Quên mật khẩu?</a>
                        </div>
                        <div class="mt-3 text-left">
                            <span>Đã có tài khoản ?</span>&nbsp;<a href="/account/login">Đăng nhập</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>